<svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    preserveAspectRatio="xMidYMid meet"

    [attr.width]="width"
    [attr.height]="height"
    [attr.viewBox]="viewBox"

    class="ngx-gallery-center"
    [class.animation]="animation"
    [class.ngx-gallery-preview-svg]="preview"
    [class.ngx-gallery-image-svg]="!preview"
    [class.ngx-gallery-grab]="classGrab"

    [style.transform]="styleTransform"
    [style.left]="posLeft"
    [style.top]="posTop"

    (click)="$event.stopPropagation()"

    #svgElement
>
    <svg:g *ngIf="!!svgArrows.length" svg-arrow [svgArrows]="svgArrows"></svg:g>
    <svg:g *ngIf="!!svgPolygons.length" svg-polygon [svgPolygons]="svgPolygons"></svg:g>
    <svg:g *ngIf="!!svgIcons.length" svg-icon [svgIcons]="svgIcons" [scaleFactor]="scaleFactor"></svg:g>
    <svg:g *ngIf="!!svgTexts.length" svg-text [svgTexts]="svgTexts"></svg:g>
</svg>
