.ngx-gallery-center {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  top: 0;
}

.ngx-gallery-image-svg {
  margin: 0;
}

.ngx-gallery-preview-svg {
  opacity: 1;
  max-width: 90%;
  max-height: 90%;
  user-select: none;
  transition: transform .5s;

  &.animation {
      transition: opacity 0.5s linear, transform .5s;
  }

  &.ngx-gallery-active {
      opacity: 1;
  }

  &.ngx-gallery-grab {
      cursor: grab;
      cursor: -webkit-grab;
  }
}
