/deep/ {
  * {
      box-sizing: border-box;
  }

  .ngx-gallery-icon {
      color: black;
      font-size: 25px;
      position: absolute;
      z-index: 1000;
      display: inline-block;

      .ngx-gallery-icon-content {
          display: block;
      }
  }

  .ngx-gallery-icons-wrapper .ngx-gallery-icon {
      position: relative;
      margin-right: 5px;
      margin-top: 5px;
      font-size: 20px;
      cursor: pointer;
  }

  .ngx-gallery-icons-wrapper {
      float: right;
  }
}