<div
    class="ngx-gallery-image"
    [ngClass]="{ 'ngx-gallery-active': selectedIndex == image.index,
                'ngx-gallery-inactive-left': selectedIndex > image.index,
                'ngx-gallery-inactive-right': selectedIndex < image.index}"
>
    <ng-container *ngIf="selectedIndex === image.index">
        <!--
        <div style="margin-left:60px;margin-right:60px">
            <div class="ngx-gallery-video-text" *ngIf="showDescription && description"
                        [innerHTML]="description"
            >
            </div>
        </div>
        -->
        <div
            id="player_{{image.id}}"
            class="player"
            title="{{showDescription && description ? description : ''}}"
        >

            <video
                #mmelement
                [width]="mediaInfo['bwidth']" [height]="mediaInfo['bheight']"
                title="{{showDescription && description ? description : ''}}"
                poster="{{image.poster}}"
                autoplay="{{image.autoplay ? 'autoplay': ''}}"
            >
                <ng-container *ngFor="let url of image.urls; let i = index">
                    <source [src]="getSafeVideoUrl(url.url)" type="{{url.mimeType}}">
                </ng-container>
            </video>
            <!--
                ratio: 9/10,

                // old configured ratio ...
                ratio: {{mediaInfo && mediaInfo ? mediaInfo["bwidth"] / mediaInfo["bheight"] : 1 }},
            -->
            <script-js>
                $(function () {{ '{' }}
                    $('#player_{{image.id}}').flowplayer({{ '{' }}
                        chromecast: false,
                        ratio: 9 / 10,
                        title: '{{showDescription && description ? description : ''}}',
                        loop: {{image.loop || false }},
                        embed: {{ '{' }}
                                skin: "node_modules/flowplayer/dist/skin/skin.css"
                            },
                        onBeforeFinish: function(){{ '{' }}
                            return false;
                        }
                    });
                });
            </script-js>
        </div>
        <!--
        <div class="ngx-gallery-video-text" *ngIf="showDescription && description"
                    [innerHTML]="description"
        >
        </div>
        -->
    </ng-container>
    <div class="ngx-gallery-video-text" *ngIf="showDescription && description"
        [innerHTML]="description"
    >
    </div>
</div>
