.ngx-gallery-image {
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;

    &.ngx-gallery-active {
        z-index: 1000;
    }

    // CC-Player specific
    // TODO: use themeable colors
    background-color: white;
}

.ngx-gallery-image-size-cover .ngx-gallery-image {
    background-size: cover;
}

.ngx-gallery-image-size-contain .ngx-gallery-image {
    background-size: contain;
}

.ngx-gallery-video-text {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ngx-gallery-video-text-old {
    width: 100%;
    height: 5%;
    // background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    // color: white;
    font-size: 16px;
    bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flowplayer {
    max-height:95%;
}

video {
    // margin-top: 4%;
    object-fit: contain;
}

:host /deep/ .ngx-gallery-icons-wrapper {
    .ngx-gallery-icon {
        color: black;
        &.ngx-gallery-icon-disabled {
            cursor: default;
            opacity: 0.4;
        }
    }
}
