:host(.ngx-gallery-active) {
    pointer-events: auto;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    z-index: 1000;
    display: inline-block;
}

:host {
    display: none;

    /deep/ .ngx-gallery-arrow {
        font-size: 50px;
    }

    /deep/ ngx-gallery-bullets {
        height: 5%;
        align-items: center;
        padding: 0px;
    }
}

.ngx-gallery-preview-img {
    opacity: 0;
    max-width: 90%;
    max-height: 90%;
    user-select: none;
    transition: opacity 0.5s linear, transform .5s;
    
    &.animation {
        transition: opacity 0.5s linear, transform .5s;
    }

    &.ngx-gallery-active {
        opacity: 1;
    }

    &.ngx-gallery-grab {
        cursor: grab;
        cursor: -webkit-grab;
    }
}

.ngx-gallery-icon.ngx-gallery-spinner {
    font-size: 50px;
    left: 0;
    display: inline-block;
}

:host /deep/ .ngx-gallery-preview-top {
    position: absolute;
    width: 100%;
    user-select: none;
}

:host /deep/ .ngx-gallery-preview-icons {
    float: right;

    .ngx-gallery-icon {
        position: relative;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 25px;
        cursor: pointer;
        text-decoration: none;

        &.ngx-gallery-icon-disabled {
            cursor: default;
            opacity: 0.4;
        }
    }
}

.ngx-spinner-wrapper {
    width: 50px;
    height: 50px;
    display: none;

    &.ngx-gallery-active {
        display: inline-block;
    }
}

.ngx-gallery-center {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    top: 0;
}

.ngx-gallery-preview-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    flex: 0 1 auto;
    z-index: 10;
}

.ngx-gallery-preview-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.ngx-gallery-preview-img-wrapper {
    flex: 1 1 auto;
    position: relative;
}

.ngx-gallery-preview-svg {
    opacity: 1;
    max-width: 90%;
    max-height: 90%;
    user-select: none;
    transition: transform .5s;

    &.animation {
        transition: opacity 0.5s linear, transform .5s;
    }

    &.ngx-gallery-active {
        opacity: 1;
    }

    &.ngx-gallery-grab {
        cursor: grab;
        cursor: -webkit-grab;
    }
}

body {
    margin: 0;            /* Reset default margin */
}

iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}

.container {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.container::-webkit-scrollbar { /* WebKit */
    width: 0px;
}