:host {
    width: 100%;
    display: inline-block;
    position: relative;
}

.ngx-gallery-thumbnails-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.ngx-gallery-thumbnails {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    will-change: transform;

    .ngx-gallery-thumbnail {
        position: absolute;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        text-decoration: none;

        // CC-Player specific
        // TODO: use themeable colors
        background-color: white;
    }
}

.ngx-gallery-thumbnail-size-cover .ngx-gallery-thumbnails .ngx-gallery-thumbnail {
    background-size: cover;
}

.ngx-gallery-thumbnail-size-contain .ngx-gallery-thumbnails .ngx-gallery-thumbnail {
    background-size: contain;
}

.ngx-gallery-remaining-count-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
}

.ngx-gallery-remaining-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}
