:host {
    display: inline-block;

    & > * {
        float: left;
    }

    /deep/ {

        * {
            box-sizing: border-box;
        }

        .ngx-gallery-icon {
            color: black;
            font-size: 25px;
            position: absolute;
            z-index: 2000;
            display: inline-block;

            .ngx-gallery-icon-content {
                display: block;
            }
        }

        .ngx-gallery-clickable {
            cursor: pointer;
        }

        .ngx-gallery-icons-wrapper .ngx-gallery-icon {
            position: relative;
            margin-right: 5px;
            margin-top: 5px;
            font-size: 20px;
            cursor: pointer;
        }

        .ngx-gallery-icons-wrapper {
            float: right;
        }
        
        ngx-gallery-thumbnails .ngx-gallery-arrow {
            border-radius: 80%;
            padding: 4px;
            background-color: white;
        }
        
    }

    .ngx-gallery-layout {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        // CC-Player specific
        // border:3px grey solid;
        // padding:10px;
        // background-color: #D8D8D8;
      
    }

    .ngx-gallery-layout.thumbnails-top {
        ngx-gallery-image {
            order: 2;
        }

        ngx-gallery-thumbnails {
            order: 1;
        }
    }

    .ngx-gallery-layout.thumbnails-bottom {
        ngx-gallery-image {
            order: 1;
        }

        ngx-gallery-thumbnails {
            order: 2;
        }
    }

}
