.ngx-gallery-svg-polygon {
    fill: black;
    fill-opacity: 0.1;
    transition: fill-opacity 0.2s;
    stroke: black;
    stroke-opacity: 1;
    cursor: pointer;
}

.ngx-gallery-svg-polygon:hover {
    fill-opacity: 0.5;
}