<ng-container *ngFor="let svgPolygon of svgPolygons; let i = index">
    <!--
    <svg:a xlink:href="https://www.spiegel.de" xlink:show="new">
    -->
    <svg:a (click)="open($event, svgPolygon)">
        <svg:polygon [attr.points]="svgPolygon.getSVGPoints()" class="ngx-gallery-svg-polygon">
            <svg:title>{{ svgPolygon.getText() }}</svg:title>
        </svg:polygon>
    </svg:a>
</ng-container>
