<ng-container *ngFor="let svgIcon of svgIcons; let i = index">
    <svg:a class="ngx-gallery-svg-icon" (click)="open($event, svgIcon)">
        <svg:image [attr.xlink:href]="svgIcon.getIconImageUrl()"
            [attr.x]="svgIcon.getPoint().getPosX()" [attr.y]="svgIcon.getPoint().getPosY()"
            [style.width]="widths[i] + 'px'" [style.height]="heights[i] + 'px'"
        >
            <svg:title>
                {{svgIcon.getDescription()}}
            </svg:title>
        </svg:image>
    </svg:a>
</ng-container>
