<svg:marker id="pf1"
    viewBox="0 0 10 10" refX="0" refY="5"
    markerUnits="strokeWidth"
    markerWidth="10" markerHeight="10"
    orient="auto">
    <svg:path d="M 0,0 l 10,5 l -10,5 z" />
</svg:marker>

<ng-container *ngFor="let svgArrow of svgArrows">
    <!--
    <svg:ellipse
        cx="svg_arr.getStartPoint().getPosX()" cy="80" rx="200" ry="30" fill="#a00" stroke="#0a0" class="ngx-gallery-svg"
    />
    -->
    <svg:line [attr.x1]="svgArrow.getStartPoint().getPosX()" [attr.y1]="svgArrow.getStartPoint().getPosY()" 
                [attr.x2]="svgArrow.getDestPoint().getPosY()" [attr.y2]="svgArrow.getDestPoint().getPosY()" 
                style="stroke:black;stroke-width:1;"
                marker-end="url(#pf1)"
                />
</ng-container>